.bg-orange-alt:hover { background-color: #ffa881; }
.bg-red-alt:hover { background-color: #ff7388; }
.bg-red-orange-alt:hover { background-color: #fe8977; }
.bg-pink-alt:hover { background-color: #ff80ff; }
.bg-green-alt:hover { background-color: #6aaf84; }
.bg-sky-blue-alt:hover { background-color: #68c6e4; }
.bg-blue-alt:hover { background-color: #33a7ff; }
.bg-dark-blue-alt:hover { background-color: #6885b1; }
.bg-cyan-alt:hover { background-color: #04c1c8; }
.bg-dark-cyan-alt:hover { background-color: #637e89; }
.bg-purple-alt:hover { background-color: #bd75bd; }
.bg-logo-theme-alt:hover { background-color: #00b386; }


.bg-orange-alt { background-color: #d66b00; }
.bg-red-alt { background-color: #f90643; }
.bg-red-orange-alt { background-color: #d63600; }
.bg-pink-alt { background-color: #d600d6; }
.bg-green-alt { background-color: #407855; }
.bg-sky-blue-alt { background-color: #4052ab; }
.bg-blue-alt { background-color: #0078d4; }
.bg-dark-blue-alt { background-color: #40587c; }
.bg-cyan-alt { background-color: #038387; }
.bg-dark-cyan-alt { background-color: #537a8a; }
.bg-purple-alt { background-color: #854085; }
.bg-logo-theme-alt { background-color: #009973; }