{% extends "layout.html" %}

{% block script %}
<!-- TODO: Use jquery so that they can't input anything else except number-->
    <!-- https://releases.jquery.com/ -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
    Add-Friend
{% endblock %}

{% block body %}

<h1 class="text-white p-5"> <i class="fa-solid fa-user-plus fa-bounce mx-1"></i> Add Friend </h1>
<section class="px-5 text-start text-white">
    <div class="form-group text-start">
        <form action="/friends/add-friend" method="post" id="add-friend">
            <!-- Declare the adding method so that the python knows the adding methods-->
            <input type="hidden" value="{{ adding_method }}" name="adding_method" />

            <!-- Adding friend automatically (friend already had tidyup) -->
            <!-- Input friend's tidyup data -->
            <label class="text-white" for="username"> Add friend by:</label>
            <div class="form-group form-inline mt-2">
                <select class="form-control input-lg" name="auto_add_input" id="method-option">
                    <option selected disabled>Choose adding method</option>
                    <option class="method-option" value="user_id">Id</option>
                    <option class="method-option" value="username">Username</option>
                    <option class="method-option" value="email">Email</option>
                </select> &nbsp;
                <input autocomplete="off" autofocus class="form-control add_friend_form" id="data-auto" name="data-auto" type="text" placeholder="Please choose the adding method" disabled style="background-color: rgb(7 7 19);"/>
            </div>

            <label>*Make sure your friend have a tidyup account and already fill out the initial social form on the friend section</label>

            <div class="text-center my-5">
                <button class="btn btn-secondary" type="submit" name="action" value="cancel"> Cancel </button> &nbsp;

                <!-- Edit Button -->
                <button type="submit" class="btn btn-success" name="action" value="proceed">
                    Add Friend
                </button>
            </div>
        </form>
    </div>
</section>

<script>
    $(document).ready(function(){
        console.log("1");
        $('#method-option').on('change',function(e){
            var method = this.value
            if (method == "user_id")
                $('#data-auto').clone().prop('disabled', false).attr({'type': 'number', 'placeholder': 'Enter your friend id'}).insertAfter('#data-auto').prev().remove();
            if (method == "username")
                $('#data-auto').clone().prop('disabled', false).attr({'type': 'text', 'placeholder': 'Enter your friend username on tidyup'}).insertAfter('#data-auto').prev().remove();
            if (method == "email")
                $('#data-auto').clone().prop('disabled', false).attr({'type': 'text', 'placeholder': 'Enter your friend email. Format : something@gmail.com'}).insertAfter('#data-auto').prev().remove();
        });
    });
</script>
{% endblock %}