{% extends "layout.html" %}
{% block title %}
    Edit One-day Event
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<h1 class="text-white p-4"> Edit Event </h1>
    <section class="px-5 text-start text-white">
        <div class="form-group text-start">
            <form action="/events/edit-short-event" method="get" id="editshortform">

                <!-- Pass the id data to the python request form -->
                <input type="hidden" name="event_id" value="{{ event['id'] }}" />

                <!-- Edit Start and End Date-->
                <label for="event_date">Event Date:</label>
                <input type="date" id="end" name="event_date" class="datepicker" value="{{ event['event_date'] }}" min="{{ lastmonth }}"></input> <br>

                <!-- Input name -->
                <div class="form-group text-start">
                    <label class="text-white" for="event_name">Event name (max. 50 characters)</label>
                    <input autocomplete="off" autofocus class="form-control add_event_form" value="{{ event['event_name'] }}" id="event_name" name="event_name" type="text" />
                </div>

                <!-- Input Details -->
                <div class="form-group text-start">
                    <label class="text-white" for="event_description">Event details</label>
                    <textarea class="form-control add_event_form" id="event_description" name="event_desc" type="text">{{ event['event_description'] }}</textarea>
                </div>

                <!-- Select types of event -->
                <div class="form-group text-start">
                    <label class="text-white" for="event_type">Event type </label>
                    <select class="form-control add_event_form" id="event_type" name="event_type">
                        {% for category in types %}
                            {% if category == event['event_type'] %}
                                <option selected> {{ category }} </option>
                            {% else %}
                                <option> {{ category }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <!-- Check if user wanna get it notified on their email -->
                <div class="form-check text-white text-start mx-2">
                    {% if not user_data["email_binded"] %}
                        <!-- User has not bind their account with email -->
                        <input class="form-check-input" type="checkbox" name="email_reminder" value="True" id="flexCheckDefault" disabled>
                        <label class="form-check-label" for="flexCheckDefault">
                            <a data-toggle="tooltip" title="You need to bind your email to this tidyup account" style="text-decoration: none;" class="text-white">Remind me on email when the event start</a>
                        </label>
                    {% elif event['notify_email'] == 'True' %}
                        <!-- User done the requirements and this event notifier has been checked -->
                        <input class="form-check-input" type="checkbox" name="email_reminder" value="True" id="flexCheckDefault" checked>
                        <label class="form-check-label" for="flexCheckDefault"> Remind me on email when the event start </label>
                    {% else %}
                        <!-- User done the requirements but user did not check the checkbox-->
                        <input class="form-check-input" type="checkbox" name="email_reminder" value="True" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"> Remind me on email when the event start </label>
                    {% endif %}
                    <!-- Get rid of the border because it was ugly with it-->
                    <style> .form-check-input[type=checkbox]:checked:after{
                    border: 0 !important
                    }
                    </style>
                </div>

                <div class="text-center mb-5">
                    <button class="btn btn-secondary" type="submit" name="action" value="cancel"> Cancel </button> &nbsp;

                    <!-- Edit Button -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal">
                        Edit Event
                    </button>
                </div>
            </form>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade text-dark" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">EDIT EVENT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Previous data about this event will be replaced, are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script>
    $('#save').click(function(){
        $('<input />').attr('type', 'hidden')
                        .attr('name', 'action')
                        .attr('value', 'edit')
                        .appendTo('#editshortform');
        $("#editshortform").submit();
    });
    </script>
{% endblock %}